.projects_header{
    text-align: center;
}

*{
    background-color: orange;
}


/* Controls the navigation bar  */
/* Controls the Body (Currently keeping the nav bar w/o gaps) */
body {
    margin: 0px;
    }
    
/* Controls the Unordered list within the navigation bar */
.unordered-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: solid 2px;
}
    
/* Controls the list elements themselves within the navigation bar */
.nav-list {
    float: left;
}

/* Controls the anchor elements within a list */
.nav-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
  /* Controls the anchor list elements while they are active */
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  /* Controls the anchor list elements while they are not active. */
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* This is supposed to hightlight the active tab but I'm having trouble accomplishing this for whatever reason */
  .active {
    background-color: #04AA6D;
  }
  
  /* Media Query to resize the nav bar to vertical on smaller devices */
  @media screen and (max-width: 600px) {
    ul.unordered-nav-list li.right, 
    ul.unordered-nav-list li {float: none;}
  }
  
  /* Styles my name or future logo on the navigation bar */
  .name{
    color: white;
    text-align: right;
    font-family: URW Chancery L, cursive;
    font-size: 22px;
    padding-right: 5px;
  }