<head>
    <script src="https://kit.fontawesome.com/c48b23583e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<div class="dev-div-banner">
    <h2 class="dev-div-text"> Full Stack Development </h2>
</div>


<div class="dev-div">

    <div class="box">
      <h2 class="box-text"> Front End Development </h2>
      <div class="icon-wrapper">
        <i class="fa-solid fa-palette fa-2xl"></i>
      </div>
      <ul class="frontend_dev_ul">
      <li class="dev-list-item"> HTML </li>
      <li class="dev-list-item"> CSS </li>
      <li class="dev-list-item"> Tailwind CSS </li>
      <li class="dev-list-item"> JavaScript </li>
      <li class="dev-list-item"> Angular </li>
      <li class="dev-list-item"> Nextjs</li>
      <li class="dev-list-item"> React </li>
      <li class="dev-list-item"> Figma </li>
      <li class="dev-list-item"> Responsive Design </li>
      <li class="dev-list-item"> & More </li>

      </ul>
    </div>
   
    <div class="box">
      <h2 class="box-text"> Back End Development </h2>
      <div class="icon-wrapper">
        <i class="fa-solid fa-server fa-2xl"></i>
      </div>
      <ul class="frontend_dev_ul">
        <li class="dev-list-item"> Python </li>
        <li class="dev-list-item"> Django </li>
        <li class="dev-list-item"> Java </li>
        <li class="dev-list-item"> API's </li>
        <li class="dev-list-item"> Docker </li>
        <li class="dev-list-item"> OOP </li>
        <li class="dev-list-item"> C# </li>
        <li class="dev-list-item"> MySQL </li>
        <li class="dev-list-item"> No SQL </li>
        <li class="dev-list-item"> & More </li>
      </ul>
      
    </div>
  
    <div class="box">
      <h2 class="box-text"> Miscellaneous </h2>
      <div class="icon-wrapper">
        <i class="fa-solid fa-flask fa-2xl"></i>
      </div>
    </div>
  
  </div>